{{>_header}}
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <h4>Добавить продукты в продажу {{cartId}}</h4>
    </nav>
    {{#cart}}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Продукт</th>
                <th scope="col">Количество</th>
            </tr>
        </thead>
        <tbody>
            {{#cartItem}}
            <tr>
                <td>{{productId}}</td>
                <td>{{productCount}}</td>
            </tr>
            {{/cartItem}}
        </tbody>
    </table>
    <form id="cart" name="cartItem" method="POST">
        <input type="hidden" id="cartId" name="cartId" value="{{cartId}}" />
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="title" class="col-sm-2 col-form-label">Продукт</label>
                <select class="form-control" name="productId" required>
                    {{#products}}
                    <option value="{{productId}}">{{title}} {{#hasDiscount}}{{discountValue}}%{{/hasDiscount}}</option>
                    {{/products}}
                </select>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
            <div class="form-group col-md-5">
                <label for="title" class="col-sm-2 col-form-label">Количество</label>
                <input type="number" class="form-control" id="productCount" name="productCount" required>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-success" formaction="/carts/{{cartId}}/additem" type="submit">Добавить продукт</button>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" formaction="/carts/{{cartId}}/confirm" formnovalidate="true">Завершить</button>
        <button class="btn btn-danger" formaction="/carts/{{cartId}}/del" type="submit" formnovalidate="true">Удалить</button>
    </form>
    {{/cart}}
</div>
{{>_footer}}