{{>_header}}
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <h4>Список продаж</h4>
        <form class="form-inline">
            <a class="btn btn-outline-primary  my-2 my-sm-0" href="/carts/new" role="button">Добавить продажу</a>
        </form>
    </nav>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Дата</th>
                <th scope="col">Название</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            {{#carts}}
            <tr>
                <td>{{cartId}}</td>
                <td>{{createdAt}}</td>
                <td>{{title}}</td>
                <td>
                    <a role="button" class="btn btn-success" href="/carts/{{cartId}}">Редактировать</a>
                </td>
            </tr>
            {{/carts}}
        </tbody>
    </table>
</div>
{{>_footer}}