{{>_header}}
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <h4>Добавить продажу</h4>
    </nav>
    {{#cart}}
    <form id="cart" name="cart" method="POST">
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Название</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" required>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
        </div>
        {{^edit}}
        <button class="btn btn-primary" formmethod="POST" type="submit">Продолжить</button>
        {{/edit}}
    </form>
    {{/cart}}
</div>
{{>_footer}}