{{>_header}}
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <h4>История скидок</h4>
    </nav>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Продукт</th>
                <th scope="col">Скидка</th>
            </tr>
        </thead>
        <tbody>
            {{#discounts}}
            <tr>
                <td>{{startDate}}</td>
                <td>{{productId}}</td>
                <td>{{val}}%</td>
            </tr>
            {{/discounts}}

        </tbody>
    </table>
</div>
{{>_footer}}