{{>_header}}
<div class="container">
    <div class="jumbotron">
        <h1>{{status}}</h1>
        <p>Что-то пошло не так.</p>
        <p>Ошибка: {{error}}</p>
        <p>
            <a class="btn btn-primary" href="/" role="button">На главную &raquo;</a>
        </p>
    </div>
</div>
{{>_footer}}