{{>_header}}
<div class="container">
     <div class="jumbotron">
        <h1>Добро пожаловать в WebShop</h1>
    </div>
    <div class="card-deck mb-4 text-center">
        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Продукты</h4>
            </div>
            <div class="card-body">
                <p></p>
                <a class="btn btn-lg btn-block btn-primary" href="/products/" role="button">Перейти &raquo;</a>
            </div>
        </div>
        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Покупки</h4>
            </div>
            <div class="card-body">
               <p></p>
                <a class="btn btn-lg btn-block btn-primary" href="/orders/" role="button">Перейти &raquo;</a>
            </div>
        </div>
        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Скидки</h4>
            </div>
            <div class="card-body">
                <p></p>
                <a class="btn btn-lg btn-block btn-primary" href="/discounts/" role="button">Перейти &raquo;</a>
            </div>
        </div>
        <div class="card mb-3 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Статистика</h4>
            </div>
            <div class="card-body">
                <p></p>
                <a class="btn btn-lg btn-block btn-primary" href="/statistic/" role="button">Перейти &raquo;</a>
            </div>
        </div>
    </div>
</div>
{{>_footer}}