{{>_header}}
<div class="container">
    <nav class="navbar navbar-light bg-light">
        {{#edit}}
        <h4>Редактирование продукта #{{productId}}</h4>
        {{/edit}}
        {{^edit}}
        <h4>Добавить продукт</h4>
        {{/edit}}
    </nav>
    {{#product}}
    <form id="product" name="product" method="POST">
        {{#edit}}
        <input type="hidden" id="productId" name="productId" value="{{productId}}" />
        {{/edit}}
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Название</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" {{#title}}value="{{title}}"{{/title}} required>
                       <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Описание</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description" {{#description}}value="{{description}}"{{/description}} required>
                       <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label">Цена</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="price" name="price"  {{#price}}value="{{price}}"{{/price}} required>
                       <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>
        </div>
        {{#edit}}
        <button class="btn btn-primary" type="submit">Сохранить</button>
        <button class="btn btn-danger" formaction="{{productId}}/del" type="submit" f>Удалить</button>
        {{/edit}}
        {{^edit}}
        <button class="btn btn-primary" formmethod="POST" type="submit">Создать</button>
        {{/edit}}
    </form>
    {{/product}}
</div>
{{>_footer}}