{{>_header}}
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <h4>Список продуктов</h4>
        <form class="form-inline">
            <a class="btn btn-outline-primary  my-2 my-sm-0" href="/products/new" role="button">Добавить продукт</a>
        </form>
    </nav>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
                <th scope="col">Цена</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            {{#products}}
            <tr>
                <td>{{productId}}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{price}} {{#hasDiscount}}<span class="badge badge-success">{{discountValue}}%</span>{{/hasDiscount}}</td>
                <td>
                    <a role="button" class="btn btn-success" href="/products/{{productId}}">Редактировать</a>
                </td>
            </tr>
            {{/products}}
        </tbody>
    </table>
</div>
{{>_footer}}