{{>_header}}
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <h4>Статистика</h4>
    </nav>
     <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Кол-во продаж</th>
                <th scope="col">Общая стоимость продаж</th>
                <th scope="col">Средняя стоимость продаж</th>
                <th scope="col">Всего скидок</th>
                <th scope="col">Общая стоимость продаж (%)</th>
                <th scope="col">Средняя стоимость продаж (%)</th>
            </tr>
        </thead>
        <tbody>
            {{#stats}}
            <tr>
                <td>{{at}}</td>
                <td>{{cartsCount}}</td>
                <td>{{totalPrice}}</td>
                <td>{{avgPrice}}</td>
                <td>{{totalSumProc}}</td>
                <td>{{totalPriceProc}}</td>
                <td>{{avgPriceProc}}</td>
            </tr>
            {{/stats}}
        </tbody>
    </table>
</div>
{{>_footer}}